@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #e5e5e5;
  --background-rgb: #141414;
  --background-secondary-rgb: #313131;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);

  @media screen and (max-width: 768px) {
    background-color: var(--background-secondary-rgb);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
